form {
    display: flex;
    flex-direction: column;
    width: 200px;
    
}

div {
    background-color: rgb(255, 188, 255);
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 10px; 
}